@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Leagues4Geeks</h1>
    <p>To view the main directory of tournaments, please click <a href="https://localhost:5001/Tournaments">here</a> or follow this URL: https://localhost:5001/Tournaments.</p>
</div>
